:root {
  --col-darkblue: #0A1128;
  --col-medblue: #011D4D;
  --col-darkgray: #5C5C5C;
  --col-medgray: #828282;
  --col-lightgray: #8F8F8F;
  --col-white: #ffffff;
  --col-vibeblue: #2CB0F4;
  --col-inputblue: #4A4E63;
  --col-textblue: #051923; 
}